h1{border: ridge navy 10pt; background-color: #DDA0DD;font-family:Arial; font-size: 16pt; 
	text-align: center; color: navy; padding-top : 5px;font-weight: 30%; padding-bottom : 20px;}

p{font-weight: bold; color: #800080;} 

a{font-family:Courier New;background-color: #D8BFD8;}

table{background-color: rgb(255,105,180); font-weight:50%;}

thead{text-align: center;margin-top: 30pt;}

tbody{background-color: rgb(255,192,203);}
      
.definition{border: ridge #4B0082 5pt; background-color: rgb(176,224,230);}

.bordure{border: dotted white 3pt; padding-left:3pt;padding-right: 5pt; font-family: #FF00FF;} 


/*img{ float:left;} /* il a deplacer à droite et on remplis l'espace d'ecriture */
/*p{clear:both;} /* l'image prend l'espace du text*/